.navbar-custom {
    background-color: #272727;
}

/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: #ffffff;
}

/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: #ffffff;
}

/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #ffffff;
}

#header {
    background-color: #272727;
    position: sticky;
    top: 0;
    z-index: 10;
}

#header-logo {
    transition: 0.5s;
}

#header-logo span {
    color: #E8003D;
    font-size: 12px;
}

#header-logo:hover {
    margin-top: 24px;
    transform: scale(1.5);
}

#header-logo a:hover {
    animation: roll 3s infinite;
    transform: rotate(30deg);
}

@keyframes roll {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

#navbar-list {
    position: absolute;
    right: 0px;
}

#navbar-list li a {
    transition: 0.5s;
    margin-left: 16px;
}

#navbar-list li a:hover {
    transform: scale(1.5);
}

#navbar-list li a:onclick {
    transform: 2s;
}