.topic {
    margin: 48px;
    margin-right: 148px;
    margin-left: 148px;
}

.topic_header {}

.topic_item {
    text-align: center;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    padding-right: 84px;
    padding-left: 70px;
}

.topic_item div {
    position: relative;
    display: inline-block;
    border-radius: 50%;
    margin: 16px;
    width: 150px;
    height: 150px;
    padding-top: 60px;
    margin-bottom: 60px;
    color: #fff;
    background: radial-gradient(circle at 100px 100px, #5cabff, #000);
    text-align: center;
    font: 24px Arial, sans-serif;
    font-weight: 500;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 0.5s;
}

.topic_item div:hover {
    transform: scale(1.1);
    box-shadow: 0 15px 19px 0 rgba(0, 0, 0, 0.2), 0 17px 31px 0 rgba(0, 0, 0, 0.19);
}